*{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;  
}

body{
    background: rgb(241,241,242);
    background: radial-gradient(circle, rgba(241,241,242,1) 60%, rgba(62,177,192,1) 100%);
}


 body > div > h1{
    padding-bottom: 0px;

}

body > div > figure{
    padding-bottom: 20px;

}

body > div > h2{
    padding-bottom: 0px;
    
}

body > div > footer{
    padding-top: 15px;

}

Button{
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 0px;
}

.Button_Boven {
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    margin: 5px;
    font-size: 22px;
}

.Button_midden {
    display: inline-block;
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 0px;
    margin: 5px;
}

.Button_primary {
    display: inline-block;
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 0px;
    margin: 5px;
    font-size: 22px;

}
 
.Button_Boven{
    background-color: #3EB1c0;
}

.Button_Boven:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_boven:focus{
    background-color: #8acdb9;
}

.Button_midden{
    background-color: #3EB1c0;
}

.Button_midden:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_midden:focus{
    background-color: #8acdb9;
}


.Button_primary{
    background-color: #3EB1c0;
}

.Button_primary:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_primary:focus{
    background-color: #8acdb9;
}

.Button_secondary{
    background-color: #FFF;

}

.Button_secondary:hover{
    background-color: #7fcfda;
}

.Button_secondary:focus{
    background-color: #54cede;
}


 .wrapper {
    text-align: center;
}

.button-container {
    display: inline-block;
}