*{
    font-family: Arial, Helvetica, sans-serif;
    color: #181818;
  
}

body{
    background: rgb(241,241,242);
    background: radial-gradient(circle, rgba(241,241,242,1) 60%, rgba(62,177,192,1) 100%);
}

Button{
    width: 100px;
    height: 30px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
}

Input{
    height: 30px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    background-color: #3EB1c0;
}



.Button_primary{
    background-color: #3EB1c0;
}

.Button_primary:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_primary:focus{
    background-color: #8acdb9;
}

.Button_secondary{
    background-color: #FFF;

}

.Button_secondary:hover{
    background-color: #7fcfda;
}

.Button_secondary:focus{
    background-color: #54cede;
}

 body > div > h1{
    padding-bottom: 0px;
}

body > div > figure{
    padding-bottom: 20px;
}

body > div > h2{
    padding-bottom: 0px;
}

body > div > section{
    padding-bottom: 0px;
    padding-top: 50px;
}

body > div > footer{
    padding-top: 40px;
    justify-content: center;
}

Button{
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
}

    
.Button_Boven {
    display: inline-block;
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 15px;
    
    font-size: 22px;
}

.Button_midden {
    display: inline-block;
    width: 300px;
    height: 60px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    margin: 25px;
    font-size: 22px;
}

.feed-buttons {
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    margin: auto;
    width: 650px;
}



.Button_secondary {
    width: 300px;
    height: 60px; 
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    font-size: 22px;
    margin-left:  0px;
    margin-bottom: 20px;
    padding: 0px;

}

.feed-controls button {
    width: 40px;
    height: 40px;
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}

span{
    margin-top: 5px;
    font-size: 20px;
}

.feed_amount{
    display: inline-flex;
    justify-content: center;
}

.Button_primary {
    width: 300px; 
    height: 60px; 
    border: solid;
    border-color: #181818;
    border-width: 2px;
    border-radius: 10px;
    font-size: 22px; 
    margin-bottom: 20px;

}

.feed_button_zelf{
    padding-left: 50px;
}
 
.Button_Boven{
    background-color: #3EB1c0;
}

.Button_Boven:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_boven:focus{
    background-color: #8acdb9;
}

.Button_midden{
    background-color: #3EB1c0;
}

.Button_midden:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_midden:focus{
    background-color: #8acdb9;
}

.Button_primary{
    background-color: #3EB1c0;
}

.Button_primary:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_primary:focus{
    background-color: #8acdb9;
}

.Button_secondary{
    background-color: #3EB1c0;
}

.Button_secondary:hover{
    background-color: #2DB7E2;
    cursor: pointer;
}

.Button_secondary:focus{
    background-color: #8acdb9;
}

 .wrapper {
    text-align: center;
}

.button-container {
    display: inline-block;
}

@media only screen and (max-width: 732px) {
    .feed-buttons{
        display: block;
        margin: auto;
        width: 300px;
    }
    .feed_button_zelf{
        padding: 0;
    }
    body > div > footer{
        padding-top:0px;
        margin-top: 10px;
    }
    .Button_midden{
        margin: 10px;
    }
  }