header{
    text-align: center;
    margin:auto;
}

body > div > section{
    padding-top: 0px;
}

.grid_container{
    display: grid;
    grid-template-areas: 'times . add_time';
    height: 300px;
    width: 700px;
    margin: auto;
}

.timers_sect{
    grid-area: times;
    border: solid;
    border-color: #181818;
    width: 300px;
    height: 400px;
}

.add_timer{
    grid-area: add_time;
    border: solid;
    border-color: #181818;
    width: 300px;
    height: 400px;
    
}

.grid_in_sect{
    display: grid;
    grid-template-areas: 
    'buttons buttons'
    'label input'
    'label2 input2'
    '. add_button';
    position: relative;
    justify-items: end;
}

.button_list{
    grid-area: buttons;
    list-style: none;
    padding: 0px;
    padding-top: 0px;
    padding-right: 10px;
}

.button_list li{
    display: inline-block;
}


.day_button{
    background-color: #3EB1c0;
    width:36px;
    height: 36px;
    grid-area: buttons;
}

.day_button:hover{
    background-color: #2DB7E2;
}

.input_time{
    width: 64px;
    grid-area: input;
    margin-right: 10px;
}

.label{
    grid-area: label;
    margin-left: 12px;
}

.label2{
    grid-area: label2;
    margin-left: 12px;
}

.add_button{
    grid-area: add_button;
    margin-top: 160px;
    margin-right: 10px;
    width: 225px;
}

.timer_container{
    background-color: #3EB1c0;
    height: 49px;
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 15px;
}

.time{
    padding-top: 16px;
}

.input_amount{
    width: 64px;
    margin-right: 10px;
}